{% extends 'base.html' %}
{% block content %}
<table class="blueTable" id="myTable">
<tr>
{% for i in index %}
  <th><input type="text" id="myInput{{i}}"  onkeyup="myFunction1({{i}})" placeholder="Search in Column"></th>
{% endfor %}
</tr>
<tr>
{% for i in colnames %}
    <th>{{i}}</th>
{% endfor %}
</tr>
{% for index, row in dataframe.iterrows%}
    <tr class="notfirst">
    <td>{{index}}</td>
    {% for i in row.values %}
            <td>{{i}}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}


function myFunction1(idx) {
  // Declare variables 
  console.log(idx);
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput"+idx);
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[idx];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase() == filter.toUpperCase()) {
        tr[i].style.display = "";
      } else if(filter.toUpperCase()== ""){
        tr[i].style.display ="";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>
{% endblock %}